@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
body::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(143, 128, 128) url("space.png");
    position: fixed;
    opacity: 0.2;
}
#map { 
    width: 500px;
    height:  500px;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 10px;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-style: 400;
    padding: 10px;
}
.coord{
    padding: 20px;
}